<?xml version="1.0"?>
<config>
  <sites>
    <site name="IEM Website">
      <environment name="development">
        <root id="2106" />
        <assets path="/themes/whitesite/" />
        <configuration id="2107" />
        <sitesettings id="2108" />
        <devsettings id="0" />
        <error404node id="0" />
        <nodesecurity>
        </nodesecurity>
      </environment>
      <environment name="staging">
        <root id="1079" />
        <assets path="/themes/whitesite/" />
        <configuration id="2107" />
        <sitesettings id="2108" />
        <devsettings id="0" />
        <error404node id="0" />
        <nodesecurity>
        </nodesecurity>
      </environment>
      <environment name="production">
        <root id="1079" />
        <assets path="/themes/whitesite/" />
        <configuration id="2107" />
        <sitesettings id="2108" />
        <devsettings id="0" />
        <error404node id="0" />
        <nodesecurity>
        </nodesecurity>
      </environment>
    </site>
  </sites>
</config>