<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>News Overview</Name>
    <Alias>umbNewsOverview</Alias>
    <Icon>package.png</Icon>
    <Thumbnail>folder_media.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>umbMaster</Master>
    <AllowedTemplates>
      <Template>umbNewsOverview</Template>
    </AllowedTemplates>
    <DefaultTemplate>umbNewsOverview</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>umbNewsItem</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
  <Hash>80ef6ea768822a351bc66de758fef546</Hash>
</DocumentType>