<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>IEMWebsiteMaster</Name>
  <Alias>IEMWebsiteMaster</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "master.cshtml";
}]]></Design>
  <Master>Base</Master>
  <Hash>5e6dc37ed264a8155d2d982f532d0780</Hash>
</Template>