<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Test</Name>
    <Alias>Test</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <AllowedTemplates>
      <Template>Test</Template>
    </AllowedTemplates>
    <DefaultTemplate>Test</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>334aaedcd6b6bae70f437eb3c34a6a6e</Hash>
</DocumentType>