<?xml version="1.0" encoding="utf-8"?>
<Template>
  <Name>IEMWebsiteMaster</Name>
  <Alias>IEMWebsiteMaster</Alias>
  <Design><![CDATA[﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Web.Optimization
@using Reactive.Umb.Cache
@{
    Layout = "Base.cshtml";
}

<!--[if lt IE 8]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<div class="container-fluid page-container">

    <header class="section site-header">
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container container-inner">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <h1 class="logo">
                        <a href="/"><span>Meadow Fresh</span></a>
                    </h1>
                </div>
                <div class="collapse navbar-collapse">
                    @Umbraco.RenderMacro("MainNavigation", new { RightAlignment = true })
                </div>
            </div>
        </nav>
    </header>

    @RenderBody()

</div>

<footer class="site-footer">
    <div class="container container-inner">
        <div class="row">
            <div class="col-md-6">
                <p class="copyright">@Html.Raw(SiteSettings.FooterCopyright)</p>
            </div>
            <div class="col-md-6">
                @{
                    var footerLinks = SiteSettings.FooterNavigation;

                    if (footerLinks.Any())
                    {
                        <ul class="list-inline list-footer-links">
                            @foreach (var link in footerLinks)
                            {
                                if (!string.IsNullOrEmpty(link.Url))
                                {
                                    <li><a href="@link.Url" target="@link.Target">@link.Name</a></li>
                                }
                            }
                        </ul>
                    }
                }
            </div>
        </div>
    </div>
</footer>

@section Head {
    @RenderSection("Head", required: false)
    <link rel="stylesheet" href="/resources/mf/css/style.css">
    <link rel="stylesheet" href="/resources/mf/css/meadowfresh.css">
    <!--[if lt IE 9]>
    <script src="/js/libs/respond.min.js"></script>
    <![endif]-->
}

@section Footer {
    @RenderSection("Footer", required: false)
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/libs/jquery.min.js"><\/script>')</script>

    <script src="/resources/mf/js/plugins.js"></script>
    <script src="/resources/mf/js/src.js"></script>
    <script src="/resources/mf/js/main.js"></script>
}]]></Design>
  <Master>Base</Master>
  <Hash>5e6dc37ed264a8155d2d982f532d0780</Hash>
</Template>