<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Site</Name>
    <Alias>Site</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Configuration</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>umbHomePage</DocumentType>
    <DocumentType>Configuration</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Homepage Item</Name>
      <Alias>umbracoInternalRedirectId</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Tab>Theme Configuration</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>29</Id>
      <Caption>Theme Configuration</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>713449d9b4cf0a807e4f3e26346193d5</Hash>
</DocumentType>