<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Site</Name>
    <Alias>Site</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>Configuration</Master>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>umbHomePage</DocumentType>
    <DocumentType>Configuration</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs>
    <Tab>
      <Id>29</Id>
      <Caption>Theme Configuration</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>6dd6db98990ff60504d2df5961c12646</Hash>
</DocumentType>