<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Test</name>
  <alias>Test</alias>
  <scriptType />
  <scriptAssembly />
  <scriptingFile />
  <xslt />
  <useInEditor>False</useInEditor>
  <dontRender>False</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
  <Hash>17cefb879291454e0b8989b97359c126</Hash>
</macro>