<?xml version="1.0" encoding="utf-8"?>
<macro>
  <name>Main Navigation</name>
  <alias>MainNavigation</alias>
  <scriptType></scriptType>
  <scriptAssembly></scriptAssembly>
  <scriptingFile>~/Views/MacroPartials/MainNavigation.cshtml</scriptingFile>
  <xslt></xslt>
  <useInEditor>False</useInEditor>
  <dontRender>True</dontRender>
  <refreshRate>0</refreshRate>
  <cacheByMember>False</cacheByMember>
  <cacheByPage>False</cacheByPage>
  <properties />
  <Hash>9d08bd6cd9d6d28d81f3ba0175f34999</Hash>
</macro>