<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Home</Name>
    <Alias>umbHomePage</Alias>
    <Icon>.sprTreeSettingDomain</Icon>
    <Thumbnail>docWithImage.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>umbPageBase</Master>
    <AllowedTemplates>
      <Template>Home</Template>
      <Template>umbHomePage</Template>
    </AllowedTemplates>
    <DefaultTemplate>umbHomePage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>umbTextPage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Logo</Name>
      <Alias>logo</Alias>
      <Type>Umbraco.MediaPicker</Type>
      <Definition>93929b9a-93a2-4e2a-b239-d99334440a59</Definition>
      <Tab></Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Facebook link</Name>
      <Alias>facebookLink</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Social</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Twitter link</Name>
      <Alias>twitterLink</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Social</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Rss link</Name>
      <Alias>rssLink</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Social</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Dribbble link</Name>
      <Alias>dribbbleLink</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Social</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>LinkedIn link</Name>
      <Alias>linkedInLink</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Social</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Google+ link</Name>
      <Alias>googleLink</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Social</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Hide banner?</Name>
      <Alias>hideBanner</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Banner</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Banner Header</Name>
      <Alias>bannerHeader</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Banner</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Banner Subheader</Name>
      <Alias>bannerSubheader</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Banner</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Banner link text</Name>
      <Alias>bannerLinkText</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Banner</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Banner link</Name>
      <Alias>bannerLink</Alias>
      <Type>Umbraco.ContentPickerAlias</Type>
      <Definition>a6857c73-d6e9-480c-b6e6-f15f6ad11125</Definition>
      <Tab>Banner</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>4</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Banner background image</Name>
      <Alias>bannerBackgroundImage</Alias>
      <Type>Umbraco.UploadField</Type>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Tab>Banner</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>About Title</Name>
      <Alias>aboutTitle</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>About</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>AboutText</Name>
      <Alias>aboutText</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>About</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Site Name</Name>
      <Alias>siteName</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Byline</Name>
      <Alias>byline</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Copyright</Name>
      <Alias>copyright</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>19</Id>
      <Caption>Social</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Id>20</Id>
      <Caption>Banner</Caption>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Id>21</Id>
      <Caption>About</Caption>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Id>22</Id>
      <Caption>Content</Caption>
      <SortOrder>3</SortOrder>
    </Tab>
  </Tabs>
  <Hash>dfaf250feadc86aa707320bad999b970</Hash>
</DocumentType>