<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Test</Name>
    <Alias>Test</Alias>
    <Icon>.sprTreeFolder</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <AllowedTemplates />
    <DefaultTemplate></DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
  <Hash>fcc1a3d1b32cd600f42ad384dc4d8999</Hash>
</DocumentType>