<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Text Page</Name>
    <Alias>umbTextPage</Alias>
    <Icon>.sprTreeDoc</Icon>
    <Thumbnail>doc.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>umbMaster</Master>
    <AllowedTemplates>
      <Template>umbTextPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>umbTextPage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>umbTextPage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Featured Page?</Name>
      <Alias>featuredPage</Alias>
      <Type>Umbraco.TrueFalse</Type>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Is this a page that should be featured on the home page?]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Image</Name>
      <Alias>image</Alias>
      <Type>Umbraco.UploadField</Type>
      <Definition>84c6b441-31df-4ffe-b67e-67d5bc3ae65a</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
    </GenericProperty>
    <GenericProperty>
      <Name>Content</Name>
      <Alias>bodyText</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Content</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>24</Id>
      <Caption>Content</Caption>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
  <Hash>8a1b81f8dcd6dd38a4fac8d865367678</Hash>
</DocumentType>